/********* Colors ********/
$color-primary: #000;
$color-secondary: #dbb087;
$color-white: #FFF;

/****** Background ******/
$bckg-primary: #000;
$bckg-secondary: #dbb087;
$bckg-white: #FFF;
$bckg-gray: #f7f7f7;

/***** Border Color *****/

/********** Btn *********/
$btn-bckg-secondary: #000;
$btn-bckg-secondary: #dbb087;

/****** store breakpoints ******/
$breakpoint-desktop-small: 1200px;
$breakpoint-tablet: 1024px;
$breakpoint-tablet-small: 900px;
$breakpoint-mobile: 680px;
$breakpoint-mobile-small: 480px;
