/*################ Banner */
.banner {
    width: 100%;
    height: 518px;
    padding: 99px 0 0 0;
    background-image: url('../assets/images/banner-hero-home.jpg');
    background-size: cover;
    background-position: center;

    @media only screen and (max-width: $breakpoint-mobile) {
        height: 594px;
        padding: 0;
        display: flex;
        align-items: flex-end;
        background-image: url('../assets/images/banner-hero-home-mobile.jpg');

        .container {
            padding-right: 0;
        }
    }

    .box {
        width: 100%;
        max-width: 460px;
        padding: 30px 30px 28px 36px;
        color: $color-white;
        background-color: $bckg-primary;

        @media only screen and (max-width: $breakpoint-mobile) {
            padding: 27px 37px 24px 26px;
            margin: 0 auto;
            margin-bottom: 20px;
            margin-right: 0;
        }
    }

    h4 {
        font-weight: 400;
    }

    a {
        color: $color-white;
        text-decoration: underline;
    }
}

/*################ Featured Products */

.featured-products {
    padding: 50px 0 79px 0;

    .products {
        display: flex;
        flex-flow: row wrap;
        padding: 54px 0 0 0;

        @media only screen and (max-width: $breakpoint-tablet-small) {
            padding: 33px 0 0 0;
        }
    }

    figure {
        position: relative;
        width: 25%;
        margin-bottom: 5px;
        padding: 10px 10px 19px;
        text-align: center;
        transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
        transition-delay: .1s;
        transform: translateZ(0);

        &:hover {
            background-color: $bckg-gray;
            opacity: 1 !important;
            box-shadow: rgba(45, 45, 45, 0.05) 0px 2px 2px, rgba(49, 49, 49, 0.05) 0px 4px 4px, rgba(42, 42, 42, 0.05) 0px 8px 8px, rgba(32, 32, 32, 0.05) 0px 16px 16px, rgba(49, 49, 49, 0.05) 0px 32px 32px, rgba(35, 35, 35, 0.05) 0px 64px 64px;
            transform: translate(0, -4px);
        }

        @media only screen and (max-width: $breakpoint-tablet-small) {
            width: 33.333333%;
        }

        @media only screen and (max-width: $breakpoint-mobile) {
            width: 50%;
        }
    }

    img {
        margin-bottom: 16px;
        object-fit: cover;
    }

    a {
        display: block;
    }

    figcaption {
        width: 100%;
        max-width: 188px;
        margin: 0 auto;
        padding: 0 5px;
        text-align: center;
    }

    p {
        color: $color-primary;
    }

    .best-seller {
        position: absolute;
        top: 23px;
        right: 32px;
        display: flex;
        align-items: center;
        width: 61px;
        height: 61px;
        font-size: 14px;
        color: $color-white;
        border-radius: 50%;
        background-color: $bckg-primary;
    }

    span {
        font-size: 24px;
        color: $color-primary;
    }
}

/*################ Newsletter */

.newsletter {
    padding: 63px 0 92px 0;
    background-color: $bckg-secondary;

    @media only screen and (max-width: $breakpoint-mobile) {
        padding: 33px 0 31px 0;
        text-align: center;
    }

    h2 {
        font-size: 48px;
        margin-bottom: 26px;
        line-height: 50px;

        @media only screen and (max-width: $breakpoint-mobile) {
            font-size: 36px;
            line-height: 38px;
        }
    }

    p {
        margin-bottom: 8px;
        color: #6b3d10;
        font-weight: bold;

    }

    form {
        display: flex;

        @media only screen and (max-width: $breakpoint-mobile) {
            flex-direction: column;
        }
    }

    input {
        width: 100%;
        max-width: 643px;
        padding: 17px 22px;
        font-size: 18px;
        color: #8a5523;
        border: 0;
        line-height: 28px;
        outline: none;
        background-color: #e9d4c1;

        @media only screen and (max-width: $breakpoint-mobile) {
            text-align: center;
        }
    }

    .btn {
        @media only screen and (max-width: $breakpoint-mobile) {
            max-width: 100%;
        }
    }

    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-size: 18px;
        color: #8a5523;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 18px;
        color: #8a5523;
    }

    :-ms-input-placeholder {
        /* IE 10+ */
        font-size: 18px;
        color: #8a5523;
    }

    :-moz-placeholder {
        /* Firefox 18- */
        font-size: 18px;
        color: #8a5523;
    }
}

@keyframes tada {
    from {
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.tada {
    animation-name: tada;
}

/*################ Comment and Modal */
.comment {
    position: fixed;
    bottom: 10%;
    right: 30px;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ff8a5b;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all .6s ease;
    &.visible {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    
    a {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}

.modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.26);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;

    @media only screen and (max-width: $breakpoint-tablet-small) {
        padding: 0 20px;
    }

    h2 {
        margin-bottom: 12px;

        @media only screen and (max-width: $breakpoint-tablet-small) {
            padding-right: 20px;
        }

    }
    &:target {
        opacity: 1;
        pointer-events: auto;
    }
    .modal-dialog-content {
        width: 100%;
        max-width: 708px;
        position: relative;
        padding: 20px;
        background: $bckg-white;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;

        @media only screen and (max-width: $breakpoint-tablet-small) {
            max-width: 100%;
        }
    }

    .modal-dialog-header {
        padding: 0;
        margin-bottom: 20px;
        overflow-x: hidden;
        height: 371px;
        max-height: 371px;

        @media only screen and (max-width: $breakpoint-tablet-small) {
            margin-bottom: 0;
        }

        p {

            @media only screen and (max-width: $breakpoint-tablet-small) {
                padding-right: 20px;
            }

            &:last-child {
                margin: 0;
            }
        }

        &#modal-dialog-header::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: $bckg-white;
        }
        
        &#modal-dialog-header::-webkit-scrollbar {
            width: 6px;
            background-color: $bckg-white;
        }
        
        &#modal-dialog-header::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: $bckg-primary;
        }
    }

    .close {
        position: absolute;
        top: 17px;
        right: 24px;
        width: 24px;
        text-decoration: none;
    }

    .modal-dialog-footer {
        display: flex;
        justify-content: flex-end;
        position: relative;
        padding: 20px 0 0 0;
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: -20px;
            width: calc(100% - -40px);
            border-top: 1px solid #eaeaea;
        }        
        a {
            padding: 11px 35px;
            font-size: 16px;
            text-transform: uppercase;
        }

        .btn {
            max-width: 137px;
            padding: 7px 10px 5px 10px;
        }

        .btn-transparent {
            color: $color-primary;
            background-color: transparent;
        }
    }
}

